In [1]:
library(caret)
library(caretEnsemble)
library(tidyverse)
library(corrplot)

Loading required package: ggplot2

Loading required package: lattice


Attaching package: 'caretEnsemble'


The following object is masked from 'package:ggplot2':

    autoplot


-- Attaching packages --------------------------------------- tidyverse 1.3.1 --

v tibble  3.1.0     v dplyr   1.0.5
v tidyr   1.1.4     v stringr 1.4.0
v readr   2.1.2     v forcats 0.5.1
v purrr   0.3.4

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x caretEnsemble::autoplot() masks ggplot2::autoplot()
x dplyr::filter()           masks stats::filter()
x dplyr::lag()              masks stats::lag()
x purrr::lift()             masks caret::lift()

corrplot 0.92 loaded

In [2]:
load("lending_2017.rda")
load("lending_2018.rda")

In [3]:
nrow(lending_2018)
length(lending_2018)

[1] 495275

[1] 152

In [4]:
str(lending_2018)

tibble [495,275 x 152] (S3: tbl_df/tbl/data.frame)
 $ id                                        : num [1:495275] NA NA 1.31e+08 1.31e+08 1.31e+08 ...
 $ member_id                                 : logi [1:495275] NA NA NA NA NA NA ...
 $ loan_amnt                                 : num [1:495275] NA NA 5000 15000 11200 25000 3000 17000 20000 19200 ...
 $ funded_amnt                               : num [1:495275] NA NA 5000 15000 11200 25000 3000 17000 20000 19200 ...
 $ funded_amnt_inv                           : num [1:495275] NA NA 5000 15000 11200 25000 3000 17000 20000 19200 ...
 $ term                                      : chr [1:495275] NA NA "36 months" "36 months" ...
 $ int_rate                                  : num [1:495275] NA NA 20.39 9.92 30.79 ...
 $ installment                               : num [1:495275] NA NA 187 483 368 ...
 $ grade                                     : chr [1:495275] NA NA "D" "B" ...
 $ sub_grade                                 : chr [1:495275] NA NA "D4" "B2" ...
 $ emp_title                                 : chr [1:495275] NA NA "General Manager" "IT Director" ...
 $ emp_length                                : chr [1:495275] NA NA "8 years" "2 years" ...
 $ home_ownership                            : chr [1:495275] NA NA "RENT" "OWN" ...
 $ annual_inc                                : num [1:495275] NA NA 50000 196000 44000 65000 52000 52000 19000 36500 ...
 $ verification_status                       : chr [1:495275] NA NA "Verified" "Source Verified" ...
 $ issue_d                                   : chr [1:495275] NA NA "Mar-2018" "Mar-2018" ...
 $ loan_status                               : chr [1:495275] NA NA "Current" "Current" ...
 $ pymnt_plan                                : chr [1:495275] NA NA "n" "n" ...
 $ url                                       : chr [1:495275] NA NA "https://lendingclub.com/browse/loanDetail.action?loan_id=130954621" "https://lendingclub.com/browse/loanDetail.action?loan_id=130964697" ...
 $ desc                                      : logi [1:495275] NA NA NA NA NA NA ...
 $ purpose                                   : chr [1:495275] NA NA "other" "debt_consolidation" ...
 $ title                                     : chr [1:495275] NA NA "Other" "Debt consolidation" ...
 $ zip_code                                  : chr [1:495275] NA NA "740xx" "337xx" ...
 $ addr_state                                : chr [1:495275] NA NA "OK" "FL" ...
 $ dti                                       : num [1:495275] NA NA 21.8 18.3 44 ...
 $ delinq_2yrs                               : num [1:495275] NA NA 1 0 1 1 0 0 0 3 ...
 $ earliest_cr_line                          : chr [1:495275] NA NA "Jan-2009" "Jul-1998" ...
 $ fico_range_low                            : num [1:495275] NA NA 665 700 665 665 760 670 795 675 ...
 $ fico_range_high                           : num [1:495275] NA NA 669 704 669 669 764 674 799 679 ...
 $ inq_last_6mths                            : num [1:495275] NA NA 0 0 2 1 0 0 1 0 ...
 $ mths_since_last_delinq                    : num [1:495275] NA NA 9 65 6 22 26 77 NA 15 ...
 $ mths_since_last_record                    : num [1:495275] NA NA NA NA NA NA NA NA NA NA ...
 $ open_acc                                  : num [1:495275] NA NA 5 19 8 7 7 9 6 14 ...
 $ pub_rec                                   : num [1:495275] NA NA 0 0 0 0 0 0 0 0 ...
 $ revol_bal                                 : num [1:495275] NA NA 116 24243 1526 ...
 $ revol_util                                : num [1:495275] NA NA 23.2 46.3 24.6 98.4 0.5 55.9 33.4 62.1 ...
 $ total_acc                                 : num [1:495275] NA NA 18 53 14 16 30 14 9 18 ...
 $ initial_list_status                       : chr [1:495275] NA NA "w" "w" ...
 $ out_prncp                                 : num [1:495275] NA NA 3780 10878 10194 ...
 $ out_prncp_inv                             : num [1:495275] NA NA 3780 10878 10194 ...
 $ total_pymnt                               : num [1:495275] NA NA 2044 5301 4008 ...
 $ total_pymnt_inv                           : num [1:495275] NA NA 2044 5301 4008 ...
 $ total_rec_prncp                           : num [1:495275] NA NA 1220 4122 1006 ...
 $ total_rec_int                             : num [1:495275] NA NA 824 1180 3001 ...
 $ total_rec_late_fee                        : num [1:495275] NA NA 0 0 0 0 0 0 0 0 ...
 $ recoveries                                : num [1:495275] NA NA 0 0 0 0 0 0 0 0 ...
 $ collection_recovery_fee                   : num [1:495275] NA NA 0 0 0 0 0 0 0 0 ...
 $ last_pymnt_d                              : chr [1:495275] NA NA "Mar-2019" "Feb-2019" ...
 $ last_pymnt_amnt                           : num [1:495275] NA NA 187 483 368 ...
 $ next_pymnt_d                              : chr [1:495275] NA NA "Apr-2019" "Apr-2019" ...
 $ last_credit_pull_d                        : chr [1:495275] NA NA "Mar-2019" "Mar-2019" ...
 $ last_fico_range_high                      : num [1:495275] NA NA 609 694 629 669 764 634 799 559 ...
 $ last_fico_range_low                       : num [1:495275] NA NA 605 690 625 665 760 630 795 555 ...
 $ collections_12_mths_ex_med                : num [1:495275] NA NA 0 0 0 0 0 0 0 3 ...
 $ mths_since_last_major_derog               : num [1:495275] NA NA 9 NA 70 23 NA 77 NA 15 ...
 $ policy_code                               : num [1:495275] NA NA 1 1 1 1 1 1 1 1 ...
 $ application_type                          : chr [1:495275] NA NA "Individual" "Individual" ...
 $ annual_inc_joint                          : num [1:495275] NA NA NA NA 81000 NA NA NA 50000 53000 ...
 $ dti_joint                                 : num [1:495275] NA NA NA NA 31.9 ...
 $ verification_status_joint                 : chr [1:495275] NA NA NA NA ...
 $ acc_now_delinq                            : num [1:495275] NA NA 0 0 0 0 0 0 0 0 ...
 $ tot_coll_amt                              : num [1:495275] NA NA 0 0 0 ...
 $ tot_cur_bal                               : num [1:495275] NA NA 19344 534954 67173 ...
 $ open_acc_6m                               : num [1:495275] NA NA 0 4 1 0 0 0 1 0 ...
 $ open_act_il                               : num [1:495275] NA NA 2 3 4 2 0 1 1 0 ...
 $ open_il_12m                               : num [1:495275] NA NA 0 2 1 0 1 0 0 0 ...
 $ open_il_24m                               : num [1:495275] NA NA 1 2 4 2 2 1 0 0 ...
 $ mths_since_rcnt_il                        : num [1:495275] NA NA 16 6 8 16 7 19 59 NA ...
 $ total_bal_il                              : num [1:495275] NA NA 14118 113470 65647 ...
 $ il_util                                   : num [1:495275] NA NA 51 59 89 82 NA 54 4 NA ...
 $ open_rv_12m                               : num [1:495275] NA NA 1 4 1 0 0 0 1 0 ...
 $ open_rv_24m                               : num [1:495275] NA NA 2 12 1 0 1 3 2 1 ...
 $ max_bal_bc                                : num [1:495275] NA NA 85 10495 1011 ...
 $ all_util                                  : num [1:495275] NA NA 58 51 84 90 1 56 24 62 ...
 $ total_rev_hi_lim                          : num [1:495275] NA NA 500 52400 6200 8800 31000 27500 41300 21400 ...
 $ inq_fi                                    : num [1:495275] NA NA 9 4 8 4 1 3 0 0 ...
 $ total_cu_tl                               : num [1:495275] NA NA 0 1 1 3 2 0 0 0 ...
 $ inq_last_12m                              : num [1:495275] NA NA 5 7 10 3 2 2 1 0 ...
 $ acc_open_past_24mths                      : num [1:495275] NA NA 3 15 5 2 3 4 2 1 ...
 $ avg_cur_bal                               : num [1:495275] NA NA 3869 31468 8397 ...
 $ bc_open_to_buy                            : num [1:495275] NA NA 384 7368 632 ...
 $ bc_util                                   : num [1:495275] NA NA 23.2 74.1 66.7 98.1 0.5 52.1 13.7 92.3 ...
 $ chargeoff_within_12_mths                  : num [1:495275] NA NA 1 0 0 0 0 0 0 0 ...
 $ delinq_amnt                               : num [1:495275] NA NA 0 0 0 0 0 0 0 0 ...
 $ mo_sin_old_il_acct                        : num [1:495275] NA NA 80 141 124 69 132 42 59 NA ...
 $ mo_sin_old_rev_tl_op                      : num [1:495275] NA NA 13 236 128 126 242 227 365 48 ...
 $ mo_sin_rcnt_rev_tl_op                     : num [1:495275] NA NA 11 4 5 72 18 19 0 17 ...
 $ mo_sin_rcnt_tl                            : num [1:495275] NA NA 11 4 5 16 7 19 0 17 ...
 $ mort_acc                                  : num [1:495275] NA NA 0 5 0 2 4 0 0 0 ...
 $ mths_since_recent_bc                      : num [1:495275] NA NA 11 11 34 126 18 19 24 34 ...
 $ mths_since_recent_bc_dlq                  : num [1:495275] NA NA NA NA 35 NA NA 77 NA NA ...
 $ mths_since_recent_inq                     : num [1:495275] NA NA 2 6 0 0 7 0 0 NA ...
 $ mths_since_recent_revol_delinq            : num [1:495275] NA NA NA NA 35 22 NA 77 NA NA ...
 $ num_accts_ever_120_pd                     : num [1:495275] NA NA 4 0 1 2 0 2 0 3 ...
 $ num_actv_bc_tl                            : num [1:495275] NA NA 2 4 2 1 1 4 3 4 ...
 $ num_actv_rev_tl                           : num [1:495275] NA NA 2 10 3 3 1 6 5 11 ...
 $ num_bc_sats                               : num [1:495275] NA NA 2 5 2 1 4 6 3 4 ...
 $ num_bc_tl                                 : num [1:495275] NA NA 2 16 3 1 15 9 5 4 ...
 $ num_il_tl                                 : num [1:495275] NA NA 15 11 8 4 7 2 1 0 ...
  [list output truncated]
 - attr(*, "problems")= tibble [1,456,203 x 5] (S3: tbl_df/tbl/data.frame)
  ..$ row     : int [1:1456203] 1481 33066 37861 50495 68328 73177 122448 163460 165721 185279 ...
  ..$ col     : chr [1:1456203] "desc" "desc" "desc" "desc" ...
  ..$ expected: chr [1:1456203] "1/0/T/F/TRUE/FALSE" "1/0/T/F/TRUE/FALSE" "1/0/T/F/TRUE/FALSE" "1/0/T/F/TRUE/FALSE" ...
  ..$ actual  : chr [1:1456203] "We knew that using our credit cards to finance an adoption would squeeze us, but then medical and other unexpec"| __truncated__ "I had a bad year two years ago, with some late and missed payments. I'm doing much better now, but I've got fee"| __truncated__ "Lenders,  I have the ability to pay off my current debt but, would like the ability to be able to put some extr"| __truncated__ "I paid off my first Prosper loan, but had an emergency and took out a second Prosper loan, but at a very high i"| __truncated__ ...
  ..$ file    : chr [1:1456203] "'accepted_2007_to_2018Q4.csv'" "'accepted_2007_to_2018Q4.csv'" "'accepted_2007_to_2018Q4.csv'" "'accepted_2007_to_2018Q4.csv'" ...

In [5]:
unique(lending_2018$loan_status)

[1] NA                   "Current"            "Fully Paid"
[4] "Late (31-120 days)" "Late (16-30 days)"  "Charged Off"
[7] "In Grace Period"    "Default"

In [6]:
summary(lending_2018)

       id            member_id        loan_amnt      funded_amnt
 Min.   : 70102325   Mode:logical   Min.   : 1000   Min.   : 1000
 1st Qu.:131267288   NA's:495275    1st Qu.: 8000   1st Qu.: 8000
 Median :136195162                  Median :14000   Median :14000
 Mean   :136087208                  Mean   :16025   Mean   :16025
 3rd Qu.:141042201                  3rd Qu.:22000   3rd Qu.:22000
 Max.   :145647287                  Max.   :40000   Max.   :40000
 NA's   :33                         NA's   :33      NA's   :33
 funded_amnt_inv     term              int_rate      installment
 Min.   :  725   Length:495275      Min.   : 5.31   Min.   :  29.76
 1st Qu.: 8000   Class :character   1st Qu.: 8.46   1st Qu.: 254.56
 Median :14000   Mode  :character   Median :11.80   Median : 386.82
 Mean   :16022                      Mean   :12.73   Mean   : 466.61
 3rd Qu.:22000                      3rd Qu.:16.01   3rd Qu.: 629.04
 Max.   :40000                      Max.   :30.99   Max.   :1670.15
 NA's   :33                         NA's   :33      NA's   :33
    grade            sub_grade          emp_title          emp_length
 Length:495275      Length:495275      Length:495275      Length:495275
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




 home_ownership       annual_inc      verification_status   issue_d
 Length:495275      Min.   :      0   Length:495275       Length:495275
 Class :character   1st Qu.:  46000   Class :character    Class :character
 Mode  :character   Median :  66000   Mode  :character    Mode  :character
                    Mean   :  80094
                    3rd Qu.:  96000
                    Max.   :9930475
                    NA's   :33
 loan_status         pymnt_plan            url              desc
 Length:495275      Length:495275      Length:495275      Mode:logical
 Class :character   Class :character   Class :character   NA's:495275
 Mode  :character   Mode  :character   Mode  :character




   purpose             title             zip_code          addr_state
 Length:495275      Length:495275      Length:495275      Length:495275
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




      dti          delinq_2yrs      earliest_cr_line   fico_range_low
 Min.   :  0.00   Min.   : 0.0000   Length:495275      Min.   :660.0
 1st Qu.: 11.43   1st Qu.: 0.0000   Class :character   1st Qu.:680.0
 Median : 17.71   Median : 0.0000   Mode  :character   Median :700.0
 Mean   : 19.67   Mean   : 0.2293                      Mean   :706.4
 3rd Qu.: 25.03   3rd Qu.: 0.0000                      3rd Qu.:725.0
 Max.   :999.00   Max.   :58.0000                      Max.   :845.0
 NA's   :1165     NA's   :33                           NA's   :33
 fico_range_high inq_last_6mths   mths_since_last_delinq mths_since_last_record
 Min.   :664.0   Min.   :0.0000   Min.   :  0.00         Min.   :  1.0
 1st Qu.:684.0   1st Qu.:0.0000   1st Qu.: 19.00         1st Qu.: 69.0
 Median :704.0   Median :0.0000   Median : 34.00         Median : 87.0
 Mean   :710.4   Mean   :0.4422   Mean   : 36.89         Mean   : 83.3
 3rd Qu.:729.0   3rd Qu.:1.0000   3rd Qu.: 53.00         3rd Qu.:102.0
 Max.   :850.0   Max.   :5.0000   Max.   :226.00         Max.   :127.0
 NA's   :33      NA's   :33       NA's   :276685         NA's   :432291
    open_acc         pub_rec          revol_bal         revol_util
 Min.   :  0.00   Min.   : 0.0000   Min.   :      0   Min.   :  0.00
 1st Qu.:  7.00   1st Qu.: 0.0000   1st Qu.:   5304   1st Qu.: 24.20
 Median : 10.00   Median : 0.0000   Median :  10832   Median : 42.10
 Mean   : 11.49   Mean   : 0.1345   Mean   :  16271   Mean   : 43.88
 3rd Qu.: 14.00   3rd Qu.: 0.0000   3rd Qu.:  19867   3rd Qu.: 62.30
 Max.   :101.00   Max.   :52.0000   Max.   :2358150   Max.   :191.00
 NA's   :33       NA's   :33        NA's   :33        NA's   :625
   total_acc      initial_list_status   out_prncp     out_prncp_inv
 Min.   :  2.00   Length:495275       Min.   :    0   Min.   :    0
 1st Qu.: 14.00   Class :character    1st Qu.: 4623   1st Qu.: 4622
 Median : 21.00   Mode  :character    Median : 9742   Median : 9739
 Mean   : 22.62                       Mean   :12007   Mean   :12005
 3rd Qu.: 29.00                       3rd Qu.:17801   3rd Qu.:17801
 Max.   :160.00                       Max.   :40000   Max.   :40000
 NA's   :33                           NA's   :33      NA's   :33
  total_pymnt    total_pymnt_inv total_rec_prncp total_rec_int
 Min.   :    0   Min.   :    0   Min.   :    0   Min.   :    0.0
 1st Qu.: 1758   1st Qu.: 1758   1st Qu.: 1115   1st Qu.:  401.6
 Median : 3221   Median : 3221   Median : 2075   Median :  814.7
 Mean   : 4925   Mean   : 4924   Mean   : 3735   Mean   : 1179.6
 3rd Qu.: 5909   3rd Qu.: 5908   3rd Qu.: 4000   3rd Qu.: 1575.2
 Max.   :51653   Max.   :51653   Max.   :40000   Max.   :12795.0
 NA's   :33      NA's   :33      NA's   :33      NA's   :33
 total_rec_late_fee   recoveries       collection_recovery_fee
 Min.   :  0.0000   Min.   :    0.00   Min.   :   0.000
 1st Qu.:  0.0000   1st Qu.:    0.00   1st Qu.:   0.000
 Median :  0.0000   Median :    0.00   Median :   0.000
 Mean   :  0.5128   Mean   :    9.94   Mean   :   1.748
 3rd Qu.:  0.0000   3rd Qu.:    0.00   3rd Qu.:   0.000
 Max.   :458.5700   Max.   :33122.07   Max.   :5961.973
 NA's   :33         NA's   :33         NA's   :33
 last_pymnt_d       last_pymnt_amnt   next_pymnt_d       last_credit_pull_d
 Length:495275      Min.   :    0.0   Length:495275      Length:495275
 Class :character   1st Qu.:  270.7   Class :character   Class :character
 Mode  :character   Median :  436.9   Mode  :character   Mode  :character
                    Mean   : 1599.8
                    3rd Qu.:  747.9
                    Max.   :41353.7
                    NA's   :33
 last_fico_range_high last_fico_range_low collections_12_mths_ex_med
 Min.   :  0.0        Min.   :  0.0       Min.   :0.00000
 1st Qu.:679.0        1st Qu.:675.0       1st Qu.:0.00000
 Median :709.0        Median :705.0       Median :0.00000
 Mean   :709.4        Mean   :703.7       Mean   :0.01768
 3rd Qu.:744.0        3rd Qu.:740.0       3rd Qu.:0.00000
 Max.   :850.0        Max.   :845.0       Max.   :9.00000
 NA's   :33           NA's   :33          NA's   :33
 mths_since_last_major_derog  policy_code application_type   annual_inc_joint
 Min.   :  0.0               Min.   :1    Length:495275      Min.   :   5694
 1st Qu.: 29.0               1st Qu.:1    Class :character   1st Qu.:  85000
 Median : 46.0               Median :1    Mode  :character   Median : 114000
 Mean   : 46.3               Mean   :1                       Mean   : 128342
 3rd Qu.: 64.0               3rd Qu.:1                       3rd Qu.: 152000
 Max.   :226.0               Max.   :1                       Max.   :7874821
 NA's   :380442              NA's   :33                      NA's   :426290
   dti_joint      verification_status_joint acc_now_delinq   tot_coll_amt
 Min.   : 0.0     Length:495275             Min.   :0e+00   Min.   :      0
 1st Qu.:13.4     Class :character          1st Qu.:0e+00   1st Qu.:      0
 Median :18.9     Mode  :character          Median :0e+00   Median :      0
 Mean   :19.4                               Mean   :5e-05   Mean   :    214
 3rd Qu.:25.0                               3rd Qu.:0e+00   3rd Qu.:      0
 Max.   :40.0                               Max.   :1e+00   Max.   :6214661
 NA's   :426290                             NA's   :33      NA's   :33
  tot_cur_bal       open_acc_6m       open_act_il      open_il_12m
 Min.   :      0   Min.   : 0.0000   Min.   : 0.000   Min.   :0.0000
 1st Qu.:  26885   1st Qu.: 0.0000   1st Qu.: 1.000   1st Qu.:0.0000
 Median :  74550   Median : 1.0000   Median : 2.000   Median :0.0000
 Mean   : 143960   Mean   : 0.8981   Mean   : 2.701   Mean   :0.6729
 3rd Qu.: 218044   3rd Qu.: 1.0000   3rd Qu.: 3.000   3rd Qu.:1.0000
 Max.   :9971659   Max.   :15.0000   Max.   :56.000   Max.   :8.0000
 NA's   :33        NA's   :33        NA's   :33       NA's   :33
  open_il_24m     mths_since_rcnt_il  total_bal_il        il_util
 Min.   : 0.000   Min.   :  0.0      Min.   :      0   Min.   :   0
 1st Qu.: 0.000   1st Qu.:  7.0      1st Qu.:   7851   1st Qu.:  53
 Median : 1.000   Median : 13.0      Median :  22452   Median :  71
 Mean   : 1.527   Mean   : 21.1      Mean   :  35324   Mean   :  68
 3rd Qu.: 2.000   3rd Qu.: 25.0      3rd Qu.:  45845   3rd Qu.:  85
 Max.   :20.000   Max.   :507.0      Max.   :1837038   Max.   :1000
 NA's   :33       NA's   :18443      NA's   :33        NA's   :80857
  open_rv_12m      open_rv_24m       max_bal_bc         all_util
 Min.   : 0.000   Min.   : 0.000   Min.   :      0   Min.   :  0.00
 1st Qu.: 0.000   1st Qu.: 1.000   1st Qu.:   2183   1st Qu.: 40.00
 Median : 1.000   Median : 2.000   Median :   4441   Median : 55.00
 Mean   : 1.228   Mean   : 2.624   Mean   :   5863   Mean   : 54.09
 3rd Qu.: 2.000   3rd Qu.: 4.000   3rd Qu.:   7772   3rd Qu.: 69.00
 Max.   :26.000   Max.   :50.000   Max.   :1170668   Max.   :239.00
 NA's   :33       NA's   :33       NA's   :33        NA's   :162
 total_rev_hi_lim      inq_fi        total_cu_tl      inq_last_12m
 Min.   :      0   Min.   : 0.000   Min.   : 0.000   Min.   : 0.000
 1st Qu.:  16200   1st Qu.: 0.000   1st Qu.: 0.000   1st Qu.: 0.000
 Median :  28700   Median : 1.000   Median : 0.000   Median : 1.000
 Mean   :  38345   Mean   : 1.087   Mean   : 1.485   Mean   : 1.937
 3rd Qu.:  48700   3rd Qu.: 2.000   3rd Qu.: 2.000   3rd Qu.: 3.000
 Max.   :2087500   Max.   :38.000   Max.   :68.000   Max.   :67.000
 NA's   :33        NA's   :33       NA's   :33       NA's   :33
 acc_open_past_24mths  avg_cur_bal     bc_open_to_buy      bc_util
 Min.   : 0.000       Min.   :     0   Min.   :     0   Min.   :  0.00
 1st Qu.: 2.000       1st Qu.:  2904   1st Qu.:  2867   1st Qu.: 25.95
 Median : 4.000       Median :  7033   Median :  8301   Median : 48.80
 Mean   : 4.427       Mean   : 13709   Mean   : 15057   Mean   : 49.87
 3rd Qu.: 6.000       3rd Qu.: 19031   3rd Qu.: 19694   3rd Qu.: 74.40
 Max.   :54.000       Max.   :623229   Max.   :605996   Max.   :201.60
 NA's   :33           NA's   :73       NA's   :6621     NA's   :6836
 chargeoff_within_12_mths  delinq_amnt       mo_sin_old_il_acct
 Min.   :0.00000          Min.   :    0.00   Min.   :  0
 1st Qu.:0.00000          1st Qu.:    0.00   1st Qu.: 85
 Median :0.00000          Median :    0.00   Median :129
 Mean   :0.00682          Mean   :    1.79   Mean   :123
 3rd Qu.:0.00000          3rd Qu.:    0.00   3rd Qu.:155
 Max.   :9.00000          Max.   :65000.00   Max.   :848
 NA's   :33               NA's   :33         NA's   :18443
 mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl       mort_acc
 Min.   :  1.0        Min.   :  0.00        Min.   :  0.000   Min.   : 0.000
 1st Qu.:102.0        1st Qu.:  4.00        1st Qu.:  3.000   1st Qu.: 0.000
 Median :156.0        Median :  9.00        Median :  6.000   Median : 1.000
 Mean   :174.6        Mean   : 15.13        Mean   :  8.719   Mean   : 1.336
 3rd Qu.:226.0        3rd Qu.: 19.00        3rd Qu.: 11.000   3rd Qu.: 2.000
 Max.   :826.0        Max.   :502.00        Max.   :382.000   Max.   :87.000
 NA's   :33           NA's   :33            NA's   :33        NA's   :33
 mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq
 Min.   :  0.00       Min.   :  0.0            Min.   : 0.00
 1st Qu.:  6.00       1st Qu.: 23.0            1st Qu.: 2.00
 Median : 15.00       Median : 38.0            Median : 6.00
 Mean   : 25.55       Mean   : 40.5            Mean   : 7.49
 3rd Qu.: 30.00       3rd Qu.: 57.0            3rd Qu.:11.00
 Max.   :661.00       Max.   :194.0            Max.   :25.00
 NA's   :6231         NA's   :397165           NA's   :61338
 mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl
 Min.   :  0.0                  Min.   : 0.0000       Min.   : 0.000
 1st Qu.: 20.0                  1st Qu.: 0.0000       1st Qu.: 2.000
 Median : 35.0                  Median : 0.0000       Median : 3.000
 Mean   : 37.8                  Mean   : 0.4679       Mean   : 3.614
 3rd Qu.: 53.0                  3rd Qu.: 0.0000       3rd Qu.: 5.000
 Max.   :190.0                  Max.   :58.0000       Max.   :50.000
 NA's   :352585                 NA's   :33            NA's   :33
 num_actv_rev_tl   num_bc_sats      num_bc_tl        num_il_tl
 Min.   : 0.000   Min.   : 0.00   Min.   : 0.000   Min.   :  0.000
 1st Qu.: 3.000   1st Qu.: 3.00   1st Qu.: 4.000   1st Qu.:  3.000
 Median : 5.000   Median : 4.00   Median : 6.000   Median :  6.000
 Mean   : 5.362   Mean   : 4.84   Mean   : 7.093   Mean   :  8.169
 3rd Qu.: 7.000   3rd Qu.: 6.00   3rd Qu.: 9.000   3rd Qu.: 11.000
 Max.   :72.000   Max.   :69.00   Max.   :86.000   Max.   :130.000
 NA's   :33       NA's   :33      NA's   :33       NA's   :33
 num_op_rev_tl    num_rev_accts    num_rev_tl_bal_gt_0    num_sats
 Min.   : 0.000   Min.   :  2.00   Min.   : 0.000      Min.   :  0.00
 1st Qu.: 5.000   1st Qu.:  7.00   1st Qu.: 3.000      1st Qu.:  7.00
 Median : 7.000   Median : 11.00   Median : 5.000      Median : 10.00
 Mean   : 8.163   Mean   : 12.92   Mean   : 5.325      Mean   : 11.47
 3rd Qu.:10.000   3rd Qu.: 17.00   3rd Qu.: 7.000      3rd Qu.: 14.00
 Max.   :91.000   Max.   :151.00   Max.   :65.000      Max.   :101.00
 NA's   :33       NA's   :33       NA's   :33          NA's   :33
 num_tl_120dpd_2m  num_tl_30dpd   num_tl_90g_dpd_24m num_tl_op_past_12m
 Min.   :0        Min.   :0e+00   Min.   : 0.00000   Min.   : 0.00
 1st Qu.:0        1st Qu.:0e+00   1st Qu.: 0.00000   1st Qu.: 1.00
 Median :0        Median :0e+00   Median : 0.00000   Median : 2.00
 Mean   :0        Mean   :5e-05   Mean   : 0.05993   Mean   : 2.03
 3rd Qu.:0        3rd Qu.:0e+00   3rd Qu.: 0.00000   3rd Qu.: 3.00
 Max.   :0        Max.   :1e+00   Max.   :58.00000   Max.   :26.00
 NA's   :12437    NA's   :33      NA's   :33         NA's   :33
 pct_tl_nvr_dlq   percent_bc_gt_75 pub_rec_bankruptcies   tax_liens
 Min.   :  0.00   Min.   :  0.00   Min.   :0.0000       Min.   : 0.00000
 1st Qu.: 92.30   1st Qu.:  0.00   1st Qu.:0.0000       1st Qu.: 0.00000
 Median :100.00   Median : 25.00   Median :0.0000       Median : 0.00000
 Mean   : 94.58   Mean   : 32.89   Mean   :0.1235       Mean   : 0.01092
 3rd Qu.:100.00   3rd Qu.: 57.10   3rd Qu.:0.0000       3rd Qu.: 0.00000
 Max.   :100.00   Max.   :100.00   Max.   :7.0000       Max.   :52.00000
 NA's   :35       NA's   :6629     NA's   :33           NA's   :33
 tot_hi_cred_lim   total_bal_ex_mort total_bc_limit
 Min.   :      0   Min.   :      0   Min.   :      0
 1st Qu.:  52059   1st Qu.:  19530   1st Qu.:   9800
 Median : 116292   Median :  37556   Median :  19200
 Mean   : 184942   Mean   :  51922   Mean   :  26680
 3rd Qu.: 269292   3rd Qu.:  66119   3rd Qu.:  35200
 Max.   :9999999   Max.   :2622906   Max.   :1569000
 NA's   :33        NA's   :33        NA's   :33
 total_il_high_credit_limit revol_bal_joint sec_app_fico_range_low
 Min.   :      0            Mode:logical    Mode:logical
 1st Qu.:  14926            NA's:495275     NA's:495275
 Median :  33754
 Mean   :  45688
 3rd Qu.:  61914
 Max.   :2118996
 NA's   :33
 sec_app_fico_range_high sec_app_earliest_cr_line sec_app_inq_last_6mths
 Mode:logical            Mode:logical             Mode:logical
 NA's:495275             NA's:495275              NA's:495275





 sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il
 Mode:logical     Mode:logical     Mode:logical       Mode:logical
 NA's:495275      NA's:495275      NA's:495275        NA's:495275





 sec_app_num_rev_accts sec_app_chargeoff_within_12_mths
 Mode:logical          Mode:logical
 NA's:495275           NA's:495275





 sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog
 Mode:logical                       Mode:logical
 NA's:495275                        NA's:495275





 hardship_flag      hardship_type      hardship_reason    hardship_status
 Length:495275      Length:495275      Length:495275      Length:495275
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




 deferral_term    hardship_amount  hardship_start_date hardship_end_date
 Min.   :3        Min.   :  6.0    Length:495275       Length:495275
 1st Qu.:3        1st Qu.: 87.4    Class :character    Class :character
 Median :3        Median :160.1    Mode  :character    Mode  :character
 Mean   :3        Mean   :196.1
 3rd Qu.:3        3rd Qu.:271.9
 Max.   :3        Max.   :845.2
 NA's   :494907   NA's   :494907
 payment_plan_start_date hardship_length   hardship_dpd    hardship_loan_status
 Length:495275           Min.   :3        Min.   : 0.0     Length:495275
 Class :character        1st Qu.:3        1st Qu.: 5.0     Class :character
 Mode  :character        Median :3        Median :13.0     Mode  :character
                         Mean   :3        Mean   :12.8
                         3rd Qu.:3        3rd Qu.:20.0
                         Max.   :3        Max.   :29.0
                         NA's   :494907   NA's   :494907
 orig_projected_additional_accrued_interest hardship_payoff_balance_amount
 Min.   :  31.5                             Min.   :  424.1
 1st Qu.: 258.7                             1st Qu.: 7966.5
 Median : 479.8                             Median :13323.6
 Mean   : 595.4                             Mean   :15633.3
 3rd Qu.: 819.9                             3rd Qu.:22590.2
 Max.   :2535.7                             Max.   :40149.3
 NA's   :494954                             NA's   :494907
 hardship_last_payment_amount disbursement_method debt_settlement_flag
 Min.   :   0.1               Length:495275       Length:495275
 1st Qu.:  50.9               Class :character    Class :character
 Median : 153.2               Mode  :character    Mode  :character
 Mean   : 215.7
 3rd Qu.: 327.4
 Max.   :1159.6
 NA's   :494907
 debt_settlement_flag_date settlement_status  settlement_date
 Length:495275             Length:495275      Length:495275
 Class :character          Class :character   Class :character
 Mode  :character          Mode  :character   Mode  :character




 settlement_amount settlement_percentage settlement_term    issue_date
 Min.   :  413.9   Min.   :30.0          Min.   : 1       Min.   :2018-01-01
 1st Qu.: 3367.1   1st Qu.:45.0          1st Qu.:17       1st Qu.:2018-04-01
 Median : 5626.1   Median :55.0          Median :18       Median :2018-07-01
 Mean   : 7145.7   Mean   :54.6          Mean   :18       Mean   :2018-06-21
 3rd Qu.: 9761.5   3rd Qu.:65.0          3rd Qu.:24       3rd Qu.:2018-10-01
 Max.   :28503.0   Max.   :80.0          Max.   :24       Max.   :2018-12-01
 NA's   :494795    NA's   :494795        NA's   :494795   NA's   :33

### Nos quitamos las filas y columnas que tengan +50% de NA's

In [7]:
lending_2018 <- lending_2018[which(rowMeans(!is.na(lending_2018)) > 0.5), which(colMeans(!is.na(lending_2018)) > 0.5)]

In [8]:
nrow(lending_2018)
length(lending_2018)

[1] 495242

[1] 109

In [9]:
summary(lending_2018)

       id              loan_amnt      funded_amnt    funded_amnt_inv
 Min.   : 70102325   Min.   : 1000   Min.   : 1000   Min.   :  725
 1st Qu.:131267288   1st Qu.: 8000   1st Qu.: 8000   1st Qu.: 8000
 Median :136195162   Median :14000   Median :14000   Median :14000
 Mean   :136087208   Mean   :16025   Mean   :16025   Mean   :16022
 3rd Qu.:141042201   3rd Qu.:22000   3rd Qu.:22000   3rd Qu.:22000
 Max.   :145647287   Max.   :40000   Max.   :40000   Max.   :40000

     term              int_rate      installment         grade
 Length:495242      Min.   : 5.31   Min.   :  29.76   Length:495242
 Class :character   1st Qu.: 8.46   1st Qu.: 254.56   Class :character
 Mode  :character   Median :11.80   Median : 386.82   Mode  :character
                    Mean   :12.73   Mean   : 466.61
                    3rd Qu.:16.01   3rd Qu.: 629.04
                    Max.   :30.99   Max.   :1670.15

  sub_grade          emp_title          emp_length        home_ownership
 Length:495242      Length:495242      Length:495242      Length:495242
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




   annual_inc      verification_status   issue_d          loan_status
 Min.   :      0   Length:495242       Length:495242      Length:495242
 1st Qu.:  46000   Class :character    Class :character   Class :character
 Median :  66000   Mode  :character    Mode  :character   Mode  :character
 Mean   :  80094
 3rd Qu.:  96000
 Max.   :9930475

  pymnt_plan            url              purpose             title
 Length:495242      Length:495242      Length:495242      Length:495242
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




   zip_code          addr_state             dti          delinq_2yrs
 Length:495242      Length:495242      Min.   :  0.00   Min.   : 0.0000
 Class :character   Class :character   1st Qu.: 11.43   1st Qu.: 0.0000
 Mode  :character   Mode  :character   Median : 17.71   Median : 0.0000
                                       Mean   : 19.67   Mean   : 0.2293
                                       3rd Qu.: 25.03   3rd Qu.: 0.0000
                                       Max.   :999.00   Max.   :58.0000
                                       NA's   :1132
 earliest_cr_line   fico_range_low  fico_range_high inq_last_6mths
 Length:495242      Min.   :660.0   Min.   :664.0   Min.   :0.0000
 Class :character   1st Qu.:680.0   1st Qu.:684.0   1st Qu.:0.0000
 Mode  :character   Median :700.0   Median :704.0   Median :0.0000
                    Mean   :706.4   Mean   :710.4   Mean   :0.4422
                    3rd Qu.:725.0   3rd Qu.:729.0   3rd Qu.:1.0000
                    Max.   :845.0   Max.   :850.0   Max.   :5.0000

    open_acc         pub_rec          revol_bal         revol_util
 Min.   :  0.00   Min.   : 0.0000   Min.   :      0   Min.   :  0.00
 1st Qu.:  7.00   1st Qu.: 0.0000   1st Qu.:   5304   1st Qu.: 24.20
 Median : 10.00   Median : 0.0000   Median :  10832   Median : 42.10
 Mean   : 11.49   Mean   : 0.1345   Mean   :  16271   Mean   : 43.88
 3rd Qu.: 14.00   3rd Qu.: 0.0000   3rd Qu.:  19867   3rd Qu.: 62.30
 Max.   :101.00   Max.   :52.0000   Max.   :2358150   Max.   :191.00
                                                      NA's   :592
   total_acc      initial_list_status   out_prncp     out_prncp_inv
 Min.   :  2.00   Length:495242       Min.   :    0   Min.   :    0
 1st Qu.: 14.00   Class :character    1st Qu.: 4623   1st Qu.: 4622
 Median : 21.00   Mode  :character    Median : 9742   Median : 9739
 Mean   : 22.62                       Mean   :12007   Mean   :12005
 3rd Qu.: 29.00                       3rd Qu.:17801   3rd Qu.:17801
 Max.   :160.00                       Max.   :40000   Max.   :40000

  total_pymnt    total_pymnt_inv total_rec_prncp total_rec_int
 Min.   :    0   Min.   :    0   Min.   :    0   Min.   :    0.0
 1st Qu.: 1758   1st Qu.: 1758   1st Qu.: 1115   1st Qu.:  401.6
 Median : 3221   Median : 3221   Median : 2075   Median :  814.7
 Mean   : 4925   Mean   : 4924   Mean   : 3735   Mean   : 1179.6
 3rd Qu.: 5909   3rd Qu.: 5908   3rd Qu.: 4000   3rd Qu.: 1575.2
 Max.   :51653   Max.   :51653   Max.   :40000   Max.   :12795.0

 total_rec_late_fee   recoveries       collection_recovery_fee
 Min.   :  0.0000   Min.   :    0.00   Min.   :   0.000
 1st Qu.:  0.0000   1st Qu.:    0.00   1st Qu.:   0.000
 Median :  0.0000   Median :    0.00   Median :   0.000
 Mean   :  0.5128   Mean   :    9.94   Mean   :   1.748
 3rd Qu.:  0.0000   3rd Qu.:    0.00   3rd Qu.:   0.000
 Max.   :458.5700   Max.   :33122.07   Max.   :5961.973

 last_pymnt_d       last_pymnt_amnt   next_pymnt_d       last_credit_pull_d
 Length:495242      Min.   :    0.0   Length:495242      Length:495242
 Class :character   1st Qu.:  270.7   Class :character   Class :character
 Mode  :character   Median :  436.9   Mode  :character   Mode  :character
                    Mean   : 1599.8
                    3rd Qu.:  747.9
                    Max.   :41353.7

 last_fico_range_high last_fico_range_low collections_12_mths_ex_med
 Min.   :  0.0        Min.   :  0.0       Min.   :0.00000
 1st Qu.:679.0        1st Qu.:675.0       1st Qu.:0.00000
 Median :709.0        Median :705.0       Median :0.00000
 Mean   :709.4        Mean   :703.7       Mean   :0.01768
 3rd Qu.:744.0        3rd Qu.:740.0       3rd Qu.:0.00000
 Max.   :850.0        Max.   :845.0       Max.   :9.00000

  policy_code application_type   acc_now_delinq      tot_coll_amt
 Min.   :1    Length:495242      Min.   :0.00e+00   Min.   :      0
 1st Qu.:1    Class :character   1st Qu.:0.00e+00   1st Qu.:      0
 Median :1    Mode  :character   Median :0.00e+00   Median :      0
 Mean   :1                       Mean   :5.25e-05   Mean   :    214
 3rd Qu.:1                       3rd Qu.:0.00e+00   3rd Qu.:      0
 Max.   :1                       Max.   :1.00e+00   Max.   :6214661

  tot_cur_bal       open_acc_6m       open_act_il      open_il_12m
 Min.   :      0   Min.   : 0.0000   Min.   : 0.000   Min.   :0.0000
 1st Qu.:  26885   1st Qu.: 0.0000   1st Qu.: 1.000   1st Qu.:0.0000
 Median :  74550   Median : 1.0000   Median : 2.000   Median :0.0000
 Mean   : 143960   Mean   : 0.8981   Mean   : 2.701   Mean   :0.6729
 3rd Qu.: 218044   3rd Qu.: 1.0000   3rd Qu.: 3.000   3rd Qu.:1.0000
 Max.   :9971659   Max.   :15.0000   Max.   :56.000   Max.   :8.0000

  open_il_24m     mths_since_rcnt_il  total_bal_il        il_util
 Min.   : 0.000   Min.   :  0.0      Min.   :      0   Min.   :   0
 1st Qu.: 0.000   1st Qu.:  7.0      1st Qu.:   7851   1st Qu.:  53
 Median : 1.000   Median : 13.0      Median :  22452   Median :  71
 Mean   : 1.527   Mean   : 21.1      Mean   :  35324   Mean   :  68
 3rd Qu.: 2.000   3rd Qu.: 25.0      3rd Qu.:  45845   3rd Qu.:  85
 Max.   :20.000   Max.   :507.0      Max.   :1837038   Max.   :1000
                  NA's   :18410                        NA's   :80824
  open_rv_12m      open_rv_24m       max_bal_bc         all_util
 Min.   : 0.000   Min.   : 0.000   Min.   :      0   Min.   :  0.00
 1st Qu.: 0.000   1st Qu.: 1.000   1st Qu.:   2183   1st Qu.: 40.00
 Median : 1.000   Median : 2.000   Median :   4441   Median : 55.00
 Mean   : 1.228   Mean   : 2.624   Mean   :   5863   Mean   : 54.09
 3rd Qu.: 2.000   3rd Qu.: 4.000   3rd Qu.:   7772   3rd Qu.: 69.00
 Max.   :26.000   Max.   :50.000   Max.   :1170668   Max.   :239.00
                                                     NA's   :129
 total_rev_hi_lim      inq_fi        total_cu_tl      inq_last_12m
 Min.   :      0   Min.   : 0.000   Min.   : 0.000   Min.   : 0.000
 1st Qu.:  16200   1st Qu.: 0.000   1st Qu.: 0.000   1st Qu.: 0.000
 Median :  28700   Median : 1.000   Median : 0.000   Median : 1.000
 Mean   :  38345   Mean   : 1.087   Mean   : 1.485   Mean   : 1.937
 3rd Qu.:  48700   3rd Qu.: 2.000   3rd Qu.: 2.000   3rd Qu.: 3.000
 Max.   :2087500   Max.   :38.000   Max.   :68.000   Max.   :67.000

 acc_open_past_24mths  avg_cur_bal     bc_open_to_buy      bc_util
 Min.   : 0.000       Min.   :     0   Min.   :     0   Min.   :  0.00
 1st Qu.: 2.000       1st Qu.:  2904   1st Qu.:  2867   1st Qu.: 25.95
 Median : 4.000       Median :  7033   Median :  8301   Median : 48.80
 Mean   : 4.427       Mean   : 13709   Mean   : 15057   Mean   : 49.87
 3rd Qu.: 6.000       3rd Qu.: 19031   3rd Qu.: 19694   3rd Qu.: 74.40
 Max.   :54.000       Max.   :623229   Max.   :605996   Max.   :201.60
                      NA's   :40       NA's   :6588     NA's   :6803
 chargeoff_within_12_mths  delinq_amnt       mo_sin_old_il_acct
 Min.   :0.000000         Min.   :    0.00   Min.   :  0
 1st Qu.:0.000000         1st Qu.:    0.00   1st Qu.: 85
 Median :0.000000         Median :    0.00   Median :129
 Mean   :0.006823         Mean   :    1.79   Mean   :123
 3rd Qu.:0.000000         3rd Qu.:    0.00   3rd Qu.:155
 Max.   :9.000000         Max.   :65000.00   Max.   :848
                                             NA's   :18410
 mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl       mort_acc
 Min.   :  1.0        Min.   :  0.00        Min.   :  0.000   Min.   : 0.000
 1st Qu.:102.0        1st Qu.:  4.00        1st Qu.:  3.000   1st Qu.: 0.000
 Median :156.0        Median :  9.00        Median :  6.000   Median : 1.000
 Mean   :174.6        Mean   : 15.13        Mean   :  8.719   Mean   : 1.336
 3rd Qu.:226.0        3rd Qu.: 19.00        3rd Qu.: 11.000   3rd Qu.: 2.000
 Max.   :826.0        Max.   :502.00        Max.   :382.000   Max.   :87.000

 mths_since_recent_bc mths_since_recent_inq num_accts_ever_120_pd
 Min.   :  0.00       Min.   : 0.00         Min.   : 0.0000
 1st Qu.:  6.00       1st Qu.: 2.00         1st Qu.: 0.0000
 Median : 15.00       Median : 6.00         Median : 0.0000
 Mean   : 25.55       Mean   : 7.49         Mean   : 0.4679
 3rd Qu.: 30.00       3rd Qu.:11.00         3rd Qu.: 0.0000
 Max.   :661.00       Max.   :25.00         Max.   :58.0000
 NA's   :6198         NA's   :61305
 num_actv_bc_tl   num_actv_rev_tl   num_bc_sats      num_bc_tl
 Min.   : 0.000   Min.   : 0.000   Min.   : 0.00   Min.   : 0.000
 1st Qu.: 2.000   1st Qu.: 3.000   1st Qu.: 3.00   1st Qu.: 4.000
 Median : 3.000   Median : 5.000   Median : 4.00   Median : 6.000
 Mean   : 3.614   Mean   : 5.362   Mean   : 4.84   Mean   : 7.093
 3rd Qu.: 5.000   3rd Qu.: 7.000   3rd Qu.: 6.00   3rd Qu.: 9.000
 Max.   :50.000   Max.   :72.000   Max.   :69.00   Max.   :86.000

   num_il_tl       num_op_rev_tl    num_rev_accts    num_rev_tl_bal_gt_0
 Min.   :  0.000   Min.   : 0.000   Min.   :  2.00   Min.   : 0.000
 1st Qu.:  3.000   1st Qu.: 5.000   1st Qu.:  7.00   1st Qu.: 3.000
 Median :  6.000   Median : 7.000   Median : 11.00   Median : 5.000
 Mean   :  8.169   Mean   : 8.163   Mean   : 12.92   Mean   : 5.325
 3rd Qu.: 11.000   3rd Qu.:10.000   3rd Qu.: 17.00   3rd Qu.: 7.000
 Max.   :130.000   Max.   :91.000   Max.   :151.00   Max.   :65.000

    num_sats      num_tl_120dpd_2m  num_tl_30dpd      num_tl_90g_dpd_24m
 Min.   :  0.00   Min.   :0        Min.   :0.00e+00   Min.   : 0.00000
 1st Qu.:  7.00   1st Qu.:0        1st Qu.:0.00e+00   1st Qu.: 0.00000
 Median : 10.00   Median :0        Median :0.00e+00   Median : 0.00000
 Mean   : 11.47   Mean   :0        Mean   :4.64e-05   Mean   : 0.05993
 3rd Qu.: 14.00   3rd Qu.:0        3rd Qu.:0.00e+00   3rd Qu.: 0.00000
 Max.   :101.00   Max.   :0        Max.   :1.00e+00   Max.   :58.00000
                  NA's   :12404
 num_tl_op_past_12m pct_tl_nvr_dlq   percent_bc_gt_75 pub_rec_bankruptcies
 Min.   : 0.00      Min.   :  0.00   Min.   :  0.00   Min.   :0.0000
 1st Qu.: 1.00      1st Qu.: 92.30   1st Qu.:  0.00   1st Qu.:0.0000
 Median : 2.00      Median :100.00   Median : 25.00   Median :0.0000
 Mean   : 2.03      Mean   : 94.58   Mean   : 32.89   Mean   :0.1235
 3rd Qu.: 3.00      3rd Qu.:100.00   3rd Qu.: 57.10   3rd Qu.:0.0000
 Max.   :26.00      Max.   :100.00   Max.   :100.00   Max.   :7.0000
                    NA's   :2        NA's   :6596
   tax_liens        tot_hi_cred_lim   total_bal_ex_mort total_bc_limit
 Min.   : 0.00000   Min.   :      0   Min.   :      0   Min.   :      0
 1st Qu.: 0.00000   1st Qu.:  52059   1st Qu.:  19530   1st Qu.:   9800
 Median : 0.00000   Median : 116292   Median :  37556   Median :  19200
 Mean   : 0.01092   Mean   : 184942   Mean   :  51922   Mean   :  26680
 3rd Qu.: 0.00000   3rd Qu.: 269292   3rd Qu.:  66119   3rd Qu.:  35200
 Max.   :52.00000   Max.   :9999999   Max.   :2622906   Max.   :1569000

 total_il_high_credit_limit hardship_flag      disbursement_method
 Min.   :      0            Length:495242      Length:495242
 1st Qu.:  14926            Class :character   Class :character
 Median :  33754            Mode  :character   Mode  :character
 Mean   :  45688
 3rd Qu.:  61914
 Max.   :2118996

 debt_settlement_flag   issue_date
 Length:495242        Min.   :2018-01-01
 Class :character     1st Qu.:2018-04-01
 Mode  :character     Median :2018-07-01
                      Mean   :2018-06-21
                      3rd Qu.:2018-10-01
                      Max.   :2018-12-01

In [10]:
lending_2018$loan_status <- factor(lending_2018$loan_status)

In [11]:
str(lending_2018)

tibble [495,242 x 109] (S3: tbl_df/tbl/data.frame)
 $ id                        : num [1:495242] 1.31e+08 1.31e+08 1.31e+08 1.31e+08 1.31e+08 ...
 $ loan_amnt                 : num [1:495242] 5000 15000 11200 25000 3000 17000 20000 19200 6500 10000 ...
 $ funded_amnt               : num [1:495242] 5000 15000 11200 25000 3000 17000 20000 19200 6500 10000 ...
 $ funded_amnt_inv           : num [1:495242] 5000 15000 11200 25000 3000 17000 20000 19200 6500 10000 ...
 $ term                      : chr [1:495242] "36 months" "36 months" "60 months" "60 months" ...
 $ int_rate                  : num [1:495242] 20.39 9.92 30.79 21.85 7.34 ...
 $ installment               : num [1:495242] 186.8 483.4 367.8 688.4 93.1 ...
 $ grade                     : chr [1:495242] "D" "B" "G" "D" ...
 $ sub_grade                 : chr [1:495242] "D4" "B2" "G1" "D5" ...
 $ emp_title                 : chr [1:495242] "General Manager" "IT Director" "Client services" "Asphalt Supervisor" ...
 $ emp_length                : chr [1:495242] "8 years" "2 years" "< 1 year" "10+ years" ...
 $ home_ownership            : chr [1:495242] "RENT" "OWN" "RENT" "MORTGAGE" ...
 $ annual_inc                : num [1:495242] 50000 196000 44000 65000 52000 52000 19000 36500 50000 80000 ...
 $ verification_status       : chr [1:495242] "Verified" "Source Verified" "Not Verified" "Source Verified" ...
 $ issue_d                   : chr [1:495242] "Mar-2018" "Mar-2018" "Mar-2018" "Mar-2018" ...
 $ loan_status               : Factor w/ 7 levels "Charged Off",..: 2 2 2 2 4 2 2 2 2 2 ...
 $ pymnt_plan                : chr [1:495242] "n" "n" "n" "n" ...
 $ url                       : chr [1:495242] "https://lendingclub.com/browse/loanDetail.action?loan_id=130954621" "https://lendingclub.com/browse/loanDetail.action?loan_id=130964697" "https://lendingclub.com/browse/loanDetail.action?loan_id=130955326" "https://lendingclub.com/browse/loanDetail.action?loan_id=130504052" ...
 $ purpose                   : chr [1:495242] "other" "debt_consolidation" "medical" "debt_consolidation" ...
 $ title                     : chr [1:495242] "Other" "Debt consolidation" "Medical expenses" "Debt consolidation" ...
 $ zip_code                  : chr [1:495242] "740xx" "337xx" "030xx" "361xx" ...
 $ addr_state                : chr [1:495242] "OK" "FL" "NH" "AL" ...
 $ dti                       : num [1:495242] 21.8 18.29 43.97 12.89 0.58 ...
 $ delinq_2yrs               : num [1:495242] 1 0 1 1 0 0 0 3 0 0 ...
 $ earliest_cr_line          : chr [1:495242] "Jan-2009" "Jul-1998" "Jul-2007" "Mar-1995" ...
 $ fico_range_low            : num [1:495242] 665 700 665 665 760 670 795 675 705 660 ...
 $ fico_range_high           : num [1:495242] 669 704 669 669 764 674 799 679 709 664 ...
 $ inq_last_6mths            : num [1:495242] 0 0 2 1 0 0 1 0 0 1 ...
 $ open_acc                  : num [1:495242] 5 19 8 7 7 9 6 14 7 17 ...
 $ pub_rec                   : num [1:495242] 0 0 0 0 0 0 0 0 0 0 ...
 $ revol_bal                 : num [1:495242] 116 24243 1526 8657 141 ...
 $ revol_util                : num [1:495242] 23.2 46.3 24.6 98.4 0.5 55.9 33.4 62.1 20.2 37.7 ...
 $ total_acc                 : num [1:495242] 18 53 14 16 30 14 9 18 16 23 ...
 $ initial_list_status       : chr [1:495242] "w" "w" "w" "w" ...
 $ out_prncp                 : num [1:495242] 3780 10878 10194 22189 0 ...
 $ out_prncp_inv             : num [1:495242] 3780 10878 10194 22189 0 ...
 $ total_pymnt               : num [1:495242] 2044 5301 4008 7511 3012 ...
 $ total_pymnt_inv           : num [1:495242] 2044 5301 4008 7511 3012 ...
 $ total_rec_prncp           : num [1:495242] 1220 4122 1006 2811 3000 ...
 $ total_rec_int             : num [1:495242] 824 1179.9 3001.4 4699.9 11.6 ...
 $ total_rec_late_fee        : num [1:495242] 0 0 0 0 0 0 0 0 0 0 ...
 $ recoveries                : num [1:495242] 0 0 0 0 0 0 0 0 0 0 ...
 $ collection_recovery_fee   : num [1:495242] 0 0 0 0 0 0 0 0 0 0 ...
 $ last_pymnt_d              : chr [1:495242] "Mar-2019" "Feb-2019" "Feb-2019" "Feb-2019" ...
 $ last_pymnt_amnt           : num [1:495242] 187 483 368 688 614 ...
 $ next_pymnt_d              : chr [1:495242] "Apr-2019" "Apr-2019" "Apr-2019" "Apr-2019" ...
 $ last_credit_pull_d        : chr [1:495242] "Mar-2019" "Mar-2019" "Mar-2019" "Mar-2019" ...
 $ last_fico_range_high      : num [1:495242] 609 694 629 669 764 634 799 559 714 634 ...
 $ last_fico_range_low       : num [1:495242] 605 690 625 665 760 630 795 555 710 630 ...
 $ collections_12_mths_ex_med: num [1:495242] 0 0 0 0 0 0 0 3 0 0 ...
 $ policy_code               : num [1:495242] 1 1 1 1 1 1 1 1 1 1 ...
 $ application_type          : chr [1:495242] "Individual" "Individual" "Joint App" "Individual" ...
 $ acc_now_delinq            : num [1:495242] 0 0 0 0 0 0 0 0 0 0 ...
 $ tot_coll_amt              : num [1:495242] 0 0 0 0 0 ...
 $ tot_cur_bal               : num [1:495242] 19344 534954 67173 74795 150592 ...
 $ open_acc_6m               : num [1:495242] 0 4 1 0 0 0 1 0 0 1 ...
 $ open_act_il               : num [1:495242] 2 3 4 2 0 1 1 0 1 0 ...
 $ open_il_12m               : num [1:495242] 0 2 1 0 1 0 0 0 0 0 ...
 $ open_il_24m               : num [1:495242] 1 2 4 2 2 1 0 0 0 1 ...
 $ mths_since_rcnt_il        : num [1:495242] 16 6 8 16 7 19 59 NA 32 18 ...
 $ total_bal_il              : num [1:495242] 14118 113470 65647 8382 0 ...
 $ il_util                   : num [1:495242] 51 59 89 82 NA 54 4 NA 12 NA ...
 $ open_rv_12m               : num [1:495242] 1 4 1 0 0 0 1 0 0 6 ...
 $ open_rv_24m               : num [1:495242] 2 12 1 0 1 3 2 1 1 12 ...
 $ max_bal_bc                : num [1:495242] 85 10495 1011 3237 141 ...
 $ all_util                  : num [1:495242] 58 51 84 90 1 56 24 62 19 38 ...
 $ total_rev_hi_lim          : num [1:495242] 500 52400 6200 8800 31000 27500 41300 21400 39000 28400 ...
 $ inq_fi                    : num [1:495242] 9 4 8 4 1 3 0 0 0 2 ...
 $ total_cu_tl               : num [1:495242] 0 1 1 3 2 0 0 0 0 0 ...
 $ inq_last_12m              : num [1:495242] 5 7 10 3 2 2 1 0 0 4 ...
 $ acc_open_past_24mths      : num [1:495242] 3 15 5 2 3 4 2 1 2 13 ...
 $ avg_cur_bal               : num [1:495242] 3869 31468 8397 10685 25099 ...
 $ bc_open_to_buy            : num [1:495242] 384 7368 632 63 30359 ...
 $ bc_util                   : num [1:495242] 23.2 74.1 66.7 98.1 0.5 52.1 13.7 92.3 20.2 66.5 ...
 $ chargeoff_within_12_mths  : num [1:495242] 1 0 0 0 0 0 0 0 0 0 ...
 $ delinq_amnt               : num [1:495242] 0 0 0 0 0 0 0 0 0 0 ...
 $ mo_sin_old_il_acct        : num [1:495242] 80 141 124 69 132 42 59 NA 158 133 ...
 $ mo_sin_old_rev_tl_op      : num [1:495242] 13 236 128 126 242 227 365 48 174 137 ...
 $ mo_sin_rcnt_rev_tl_op     : num [1:495242] 11 4 5 72 18 19 0 17 21 4 ...
 $ mo_sin_rcnt_tl            : num [1:495242] 11 4 5 16 7 19 0 17 21 4 ...
 $ mort_acc                  : num [1:495242] 0 5 0 2 4 0 0 0 2 2 ...
 $ mths_since_recent_bc      : num [1:495242] 11 11 34 126 18 19 24 34 21 4 ...
 $ mths_since_recent_inq     : num [1:495242] 2 6 0 0 7 0 0 NA NA 4 ...
 $ num_accts_ever_120_pd     : num [1:495242] 4 0 1 2 0 2 0 3 1 2 ...
 $ num_actv_bc_tl            : num [1:495242] 2 4 2 1 1 4 3 4 3 10 ...
 $ num_actv_rev_tl           : num [1:495242] 2 10 3 3 1 6 5 11 3 14 ...
 $ num_bc_sats               : num [1:495242] 2 5 2 1 4 6 3 4 5 10 ...
 $ num_bc_tl                 : num [1:495242] 2 16 3 1 15 9 5 4 11 11 ...
 $ num_il_tl                 : num [1:495242] 15 11 8 4 7 2 1 0 2 3 ...
 $ num_op_rev_tl             : num [1:495242] 2 14 4 3 6 8 5 14 5 16 ...
 $ num_rev_accts             : num [1:495242] 2 37 6 9 19 12 8 15 12 18 ...
 $ num_rev_tl_bal_gt_0       : num [1:495242] 2 10 3 3 1 6 5 11 3 14 ...
 $ num_sats                  : num [1:495242] 5 19 8 7 7 9 6 14 7 17 ...
 $ num_tl_120dpd_2m          : num [1:495242] 0 0 0 0 0 0 0 0 0 0 ...
 $ num_tl_30dpd              : num [1:495242] 0 0 0 0 0 0 0 0 0 0 ...
 $ num_tl_90g_dpd_24m        : num [1:495242] 1 0 0 1 0 0 0 3 0 0 ...
 $ num_tl_op_past_12m        : num [1:495242] 1 6 2 0 1 0 1 0 0 6 ...
 $ pct_tl_nvr_dlq            : num [1:495242] 77.8 98 71.4 75 96.7 85.7 100 83.3 93.8 91.3 ...
 $ percent_bc_gt_75          : num [1:495242] 0 75 0 100 0 16.7 0 100 20 40 ...
  [list output truncated]
 - attr(*, "problems")= tibble [1,456,203 x 5] (S3: tbl_df/tbl/data.frame)
  ..$ row     : int [1:1456203] 1481 33066 37861 50495 68328 73177 122448 163460 165721 185279 ...
  ..$ col     : chr [1:1456203] "desc" "desc" "desc" "desc" ...
  ..$ expected: chr [1:1456203] "1/0/T/F/TRUE/FALSE" "1/0/T/F/TRUE/FALSE" "1/0/T/F/TRUE/FALSE" "1/0/T/F/TRUE/FALSE" ...
  ..$ actual  : chr [1:1456203] "We knew that using our credit cards to finance an adoption would squeeze us, but then medical and other unexpec"| __truncated__ "I had a bad year two years ago, with some late and missed payments. I'm doing much better now, but I've got fee"| __truncated__ "Lenders,  I have the ability to pay off my current debt but, would like the ability to be able to put some extr"| __truncated__ "I paid off my first Prosper loan, but had an emergency and took out a second Prosper loan, but at a very high i"| __truncated__ ...
  ..$ file    : chr [1:1456203] "'accepted_2007_to_2018Q4.csv'" "'accepted_2007_to_2018Q4.csv'" "'accepted_2007_to_2018Q4.csv'" "'accepted_2007_to_2018Q4.csv'" ...

In [12]:
summary(lending_2018)

       id              loan_amnt      funded_amnt    funded_amnt_inv
 Min.   : 70102325   Min.   : 1000   Min.   : 1000   Min.   :  725
 1st Qu.:131267288   1st Qu.: 8000   1st Qu.: 8000   1st Qu.: 8000
 Median :136195162   Median :14000   Median :14000   Median :14000
 Mean   :136087208   Mean   :16025   Mean   :16025   Mean   :16022
 3rd Qu.:141042201   3rd Qu.:22000   3rd Qu.:22000   3rd Qu.:22000
 Max.   :145647287   Max.   :40000   Max.   :40000   Max.   :40000

     term              int_rate      installment         grade
 Length:495242      Min.   : 5.31   Min.   :  29.76   Length:495242
 Class :character   1st Qu.: 8.46   1st Qu.: 254.56   Class :character
 Mode  :character   Median :11.80   Median : 386.82   Mode  :character
                    Mean   :12.73   Mean   : 466.61
                    3rd Qu.:16.01   3rd Qu.: 629.04
                    Max.   :30.99   Max.   :1670.15

  sub_grade          emp_title          emp_length        home_ownership
 Length:495242      Length:495242      Length:495242      Length:495242
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




   annual_inc      verification_status   issue_d
 Min.   :      0   Length:495242       Length:495242
 1st Qu.:  46000   Class :character    Class :character
 Median :  66000   Mode  :character    Mode  :character
 Mean   :  80094
 3rd Qu.:  96000
 Max.   :9930475

             loan_status      pymnt_plan            url
 Charged Off       :  8867   Length:495242      Length:495242
 Current           :427181   Class :character   Class :character
 Default           :     7   Mode  :character   Mode  :character
 Fully Paid        : 47444
 In Grace Period   :  2919
 Late (16-30 days) :  1603
 Late (31-120 days):  7221
   purpose             title             zip_code          addr_state
 Length:495242      Length:495242      Length:495242      Length:495242
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




      dti          delinq_2yrs      earliest_cr_line   fico_range_low
 Min.   :  0.00   Min.   : 0.0000   Length:495242      Min.   :660.0
 1st Qu.: 11.43   1st Qu.: 0.0000   Class :character   1st Qu.:680.0
 Median : 17.71   Median : 0.0000   Mode  :character   Median :700.0
 Mean   : 19.67   Mean   : 0.2293                      Mean   :706.4
 3rd Qu.: 25.03   3rd Qu.: 0.0000                      3rd Qu.:725.0
 Max.   :999.00   Max.   :58.0000                      Max.   :845.0
 NA's   :1132
 fico_range_high inq_last_6mths      open_acc         pub_rec
 Min.   :664.0   Min.   :0.0000   Min.   :  0.00   Min.   : 0.0000
 1st Qu.:684.0   1st Qu.:0.0000   1st Qu.:  7.00   1st Qu.: 0.0000
 Median :704.0   Median :0.0000   Median : 10.00   Median : 0.0000
 Mean   :710.4   Mean   :0.4422   Mean   : 11.49   Mean   : 0.1345
 3rd Qu.:729.0   3rd Qu.:1.0000   3rd Qu.: 14.00   3rd Qu.: 0.0000
 Max.   :850.0   Max.   :5.0000   Max.   :101.00   Max.   :52.0000

   revol_bal         revol_util       total_acc      initial_list_status
 Min.   :      0   Min.   :  0.00   Min.   :  2.00   Length:495242
 1st Qu.:   5304   1st Qu.: 24.20   1st Qu.: 14.00   Class :character
 Median :  10832   Median : 42.10   Median : 21.00   Mode  :character
 Mean   :  16271   Mean   : 43.88   Mean   : 22.62
 3rd Qu.:  19867   3rd Qu.: 62.30   3rd Qu.: 29.00
 Max.   :2358150   Max.   :191.00   Max.   :160.00
                   NA's   :592
   out_prncp     out_prncp_inv    total_pymnt    total_pymnt_inv
 Min.   :    0   Min.   :    0   Min.   :    0   Min.   :    0
 1st Qu.: 4623   1st Qu.: 4622   1st Qu.: 1758   1st Qu.: 1758
 Median : 9742   Median : 9739   Median : 3221   Median : 3221
 Mean   :12007   Mean   :12005   Mean   : 4925   Mean   : 4924
 3rd Qu.:17801   3rd Qu.:17801   3rd Qu.: 5909   3rd Qu.: 5908
 Max.   :40000   Max.   :40000   Max.   :51653   Max.   :51653

 total_rec_prncp total_rec_int     total_rec_late_fee   recoveries
 Min.   :    0   Min.   :    0.0   Min.   :  0.0000   Min.   :    0.00
 1st Qu.: 1115   1st Qu.:  401.6   1st Qu.:  0.0000   1st Qu.:    0.00
 Median : 2075   Median :  814.7   Median :  0.0000   Median :    0.00
 Mean   : 3735   Mean   : 1179.6   Mean   :  0.5128   Mean   :    9.94
 3rd Qu.: 4000   3rd Qu.: 1575.2   3rd Qu.:  0.0000   3rd Qu.:    0.00
 Max.   :40000   Max.   :12795.0   Max.   :458.5700   Max.   :33122.07

 collection_recovery_fee last_pymnt_d       last_pymnt_amnt
 Min.   :   0.000        Length:495242      Min.   :    0.0
 1st Qu.:   0.000        Class :character   1st Qu.:  270.7
 Median :   0.000        Mode  :character   Median :  436.9
 Mean   :   1.748                           Mean   : 1599.8
 3rd Qu.:   0.000                           3rd Qu.:  747.9
 Max.   :5961.973                           Max.   :41353.7

 next_pymnt_d       last_credit_pull_d last_fico_range_high last_fico_range_low
 Length:495242      Length:495242      Min.   :  0.0        Min.   :  0.0
 Class :character   Class :character   1st Qu.:679.0        1st Qu.:675.0
 Mode  :character   Mode  :character   Median :709.0        Median :705.0
                                       Mean   :709.4        Mean   :703.7
                                       3rd Qu.:744.0        3rd Qu.:740.0
                                       Max.   :850.0        Max.   :845.0

 collections_12_mths_ex_med  policy_code application_type   acc_now_delinq
 Min.   :0.00000            Min.   :1    Length:495242      Min.   :0.00e+00
 1st Qu.:0.00000            1st Qu.:1    Class :character   1st Qu.:0.00e+00
 Median :0.00000            Median :1    Mode  :character   Median :0.00e+00
 Mean   :0.01768            Mean   :1                       Mean   :5.25e-05
 3rd Qu.:0.00000            3rd Qu.:1                       3rd Qu.:0.00e+00
 Max.   :9.00000            Max.   :1                       Max.   :1.00e+00

  tot_coll_amt      tot_cur_bal       open_acc_6m       open_act_il
 Min.   :      0   Min.   :      0   Min.   : 0.0000   Min.   : 0.000
 1st Qu.:      0   1st Qu.:  26885   1st Qu.: 0.0000   1st Qu.: 1.000
 Median :      0   Median :  74550   Median : 1.0000   Median : 2.000
 Mean   :    214   Mean   : 143960   Mean   : 0.8981   Mean   : 2.701
 3rd Qu.:      0   3rd Qu.: 218044   3rd Qu.: 1.0000   3rd Qu.: 3.000
 Max.   :6214661   Max.   :9971659   Max.   :15.0000   Max.   :56.000

  open_il_12m      open_il_24m     mths_since_rcnt_il  total_bal_il
 Min.   :0.0000   Min.   : 0.000   Min.   :  0.0      Min.   :      0
 1st Qu.:0.0000   1st Qu.: 0.000   1st Qu.:  7.0      1st Qu.:   7851
 Median :0.0000   Median : 1.000   Median : 13.0      Median :  22452
 Mean   :0.6729   Mean   : 1.527   Mean   : 21.1      Mean   :  35324
 3rd Qu.:1.0000   3rd Qu.: 2.000   3rd Qu.: 25.0      3rd Qu.:  45845
 Max.   :8.0000   Max.   :20.000   Max.   :507.0      Max.   :1837038
                                   NA's   :18410
    il_util       open_rv_12m      open_rv_24m       max_bal_bc
 Min.   :   0    Min.   : 0.000   Min.   : 0.000   Min.   :      0
 1st Qu.:  53    1st Qu.: 0.000   1st Qu.: 1.000   1st Qu.:   2183
 Median :  71    Median : 1.000   Median : 2.000   Median :   4441
 Mean   :  68    Mean   : 1.228   Mean   : 2.624   Mean   :   5863
 3rd Qu.:  85    3rd Qu.: 2.000   3rd Qu.: 4.000   3rd Qu.:   7772
 Max.   :1000    Max.   :26.000   Max.   :50.000   Max.   :1170668
 NA's   :80824
    all_util      total_rev_hi_lim      inq_fi        total_cu_tl
 Min.   :  0.00   Min.   :      0   Min.   : 0.000   Min.   : 0.000
 1st Qu.: 40.00   1st Qu.:  16200   1st Qu.: 0.000   1st Qu.: 0.000
 Median : 55.00   Median :  28700   Median : 1.000   Median : 0.000
 Mean   : 54.09   Mean   :  38345   Mean   : 1.087   Mean   : 1.485
 3rd Qu.: 69.00   3rd Qu.:  48700   3rd Qu.: 2.000   3rd Qu.: 2.000
 Max.   :239.00   Max.   :2087500   Max.   :38.000   Max.   :68.000
 NA's   :129
  inq_last_12m    acc_open_past_24mths  avg_cur_bal     bc_open_to_buy
 Min.   : 0.000   Min.   : 0.000       Min.   :     0   Min.   :     0
 1st Qu.: 0.000   1st Qu.: 2.000       1st Qu.:  2904   1st Qu.:  2867
 Median : 1.000   Median : 4.000       Median :  7033   Median :  8301
 Mean   : 1.937   Mean   : 4.427       Mean   : 13709   Mean   : 15057
 3rd Qu.: 3.000   3rd Qu.: 6.000       3rd Qu.: 19031   3rd Qu.: 19694
 Max.   :67.000   Max.   :54.000       Max.   :623229   Max.   :605996
                                       NA's   :40       NA's   :6588
    bc_util       chargeoff_within_12_mths  delinq_amnt
 Min.   :  0.00   Min.   :0.000000         Min.   :    0.00
 1st Qu.: 25.95   1st Qu.:0.000000         1st Qu.:    0.00
 Median : 48.80   Median :0.000000         Median :    0.00
 Mean   : 49.87   Mean   :0.006823         Mean   :    1.79
 3rd Qu.: 74.40   3rd Qu.:0.000000         3rd Qu.:    0.00
 Max.   :201.60   Max.   :9.000000         Max.   :65000.00
 NA's   :6803
 mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op
 Min.   :  0        Min.   :  1.0        Min.   :  0.00
 1st Qu.: 85        1st Qu.:102.0        1st Qu.:  4.00
 Median :129        Median :156.0        Median :  9.00
 Mean   :123        Mean   :174.6        Mean   : 15.13
 3rd Qu.:155        3rd Qu.:226.0        3rd Qu.: 19.00
 Max.   :848        Max.   :826.0        Max.   :502.00
 NA's   :18410
 mo_sin_rcnt_tl       mort_acc      mths_since_recent_bc mths_since_recent_inq
 Min.   :  0.000   Min.   : 0.000   Min.   :  0.00       Min.   : 0.00
 1st Qu.:  3.000   1st Qu.: 0.000   1st Qu.:  6.00       1st Qu.: 2.00
 Median :  6.000   Median : 1.000   Median : 15.00       Median : 6.00
 Mean   :  8.719   Mean   : 1.336   Mean   : 25.55       Mean   : 7.49
 3rd Qu.: 11.000   3rd Qu.: 2.000   3rd Qu.: 30.00       3rd Qu.:11.00
 Max.   :382.000   Max.   :87.000   Max.   :661.00       Max.   :25.00
                                    NA's   :6198         NA's   :61305
 num_accts_ever_120_pd num_actv_bc_tl   num_actv_rev_tl   num_bc_sats
 Min.   : 0.0000       Min.   : 0.000   Min.   : 0.000   Min.   : 0.00
 1st Qu.: 0.0000       1st Qu.: 2.000   1st Qu.: 3.000   1st Qu.: 3.00
 Median : 0.0000       Median : 3.000   Median : 5.000   Median : 4.00
 Mean   : 0.4679       Mean   : 3.614   Mean   : 5.362   Mean   : 4.84
 3rd Qu.: 0.0000       3rd Qu.: 5.000   3rd Qu.: 7.000   3rd Qu.: 6.00
 Max.   :58.0000       Max.   :50.000   Max.   :72.000   Max.   :69.00

   num_bc_tl        num_il_tl       num_op_rev_tl    num_rev_accts
 Min.   : 0.000   Min.   :  0.000   Min.   : 0.000   Min.   :  2.00
 1st Qu.: 4.000   1st Qu.:  3.000   1st Qu.: 5.000   1st Qu.:  7.00
 Median : 6.000   Median :  6.000   Median : 7.000   Median : 11.00
 Mean   : 7.093   Mean   :  8.169   Mean   : 8.163   Mean   : 12.92
 3rd Qu.: 9.000   3rd Qu.: 11.000   3rd Qu.:10.000   3rd Qu.: 17.00
 Max.   :86.000   Max.   :130.000   Max.   :91.000   Max.   :151.00

 num_rev_tl_bal_gt_0    num_sats      num_tl_120dpd_2m  num_tl_30dpd
 Min.   : 0.000      Min.   :  0.00   Min.   :0        Min.   :0.00e+00
 1st Qu.: 3.000      1st Qu.:  7.00   1st Qu.:0        1st Qu.:0.00e+00
 Median : 5.000      Median : 10.00   Median :0        Median :0.00e+00
 Mean   : 5.325      Mean   : 11.47   Mean   :0        Mean   :4.64e-05
 3rd Qu.: 7.000      3rd Qu.: 14.00   3rd Qu.:0        3rd Qu.:0.00e+00
 Max.   :65.000      Max.   :101.00   Max.   :0        Max.   :1.00e+00
                                      NA's   :12404
 num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq   percent_bc_gt_75
 Min.   : 0.00000   Min.   : 0.00      Min.   :  0.00   Min.   :  0.00
 1st Qu.: 0.00000   1st Qu.: 1.00      1st Qu.: 92.30   1st Qu.:  0.00
 Median : 0.00000   Median : 2.00      Median :100.00   Median : 25.00
 Mean   : 0.05993   Mean   : 2.03      Mean   : 94.58   Mean   : 32.89
 3rd Qu.: 0.00000   3rd Qu.: 3.00      3rd Qu.:100.00   3rd Qu.: 57.10
 Max.   :58.00000   Max.   :26.00      Max.   :100.00   Max.   :100.00
                                       NA's   :2        NA's   :6596
 pub_rec_bankruptcies   tax_liens        tot_hi_cred_lim   total_bal_ex_mort
 Min.   :0.0000       Min.   : 0.00000   Min.   :      0   Min.   :      0
 1st Qu.:0.0000       1st Qu.: 0.00000   1st Qu.:  52059   1st Qu.:  19530
 Median :0.0000       Median : 0.00000   Median : 116292   Median :  37556
 Mean   :0.1235       Mean   : 0.01092   Mean   : 184942   Mean   :  51922
 3rd Qu.:0.0000       3rd Qu.: 0.00000   3rd Qu.: 269292   3rd Qu.:  66119
 Max.   :7.0000       Max.   :52.00000   Max.   :9999999   Max.   :2622906

 total_bc_limit    total_il_high_credit_limit hardship_flag
 Min.   :      0   Min.   :      0            Length:495242
 1st Qu.:   9800   1st Qu.:  14926            Class :character
 Median :  19200   Median :  33754            Mode  :character
 Mean   :  26680   Mean   :  45688
 3rd Qu.:  35200   3rd Qu.:  61914
 Max.   :1569000   Max.   :2118996

 disbursement_method debt_settlement_flag   issue_date
 Length:495242       Length:495242        Min.   :2018-01-01
 Class :character    Class :character     1st Qu.:2018-04-01
 Mode  :character    Mode  :character     Median :2018-07-01
                                          Mean   :2018-06-21
                                          3rd Qu.:2018-10-01
                                          Max.   :2018-12-01

In [13]:
unique(lending_2018["debt_settlement_flag"])

  debt_settlement_flag
1 N
2 Y

In [14]:
to_date <- c("issue_date")
to_factor <- c(
               "term", "grade", "home_ownership",
               "verification_status", "pymnt_plan",
               "inq_last_6mths",
               "initial_list_status", "collections_12_mths_ex_med",
               "application_type", "acc_now_delinq",
               "chargeoff_within_12_mths",
               "num_tl_30dpd", "pub_rec_bankruptcies", "hardship_flag",
               "disbursement_method", "debt_settlement_flag"
               )
to_ignore <- c("id", "url", "title", "zipcode",
              "earliest_cr_line", "last_pymnt_d",
              "next_pymnt_d", "last_credit_pull_d", "policy_code",
              "num_tl_120dpd_2m", "sub_grade", "emp_title", "emp_length",
              "purpose", "addr_state")

In [15]:
lending_2018 <- lending_2018[, !(names(lending_2018) %in% to_ignore)]
lending_2018[, to_factor] <- lapply(lending_2018[, to_factor], factor)
lending_2018[, to_date] <- lapply(lending_2018[, to_date], as.Date)

In [16]:
summary(lending_2018)

   loan_amnt      funded_amnt    funded_amnt_inv        term
 Min.   : 1000   Min.   : 1000   Min.   :  725   36 months:344671
 1st Qu.: 8000   1st Qu.: 8000   1st Qu.: 8000   60 months:150571
 Median :14000   Median :14000   Median :14000
 Mean   :16025   Mean   :16025   Mean   :16022
 3rd Qu.:22000   3rd Qu.:22000   3rd Qu.:22000
 Max.   :40000   Max.   :40000   Max.   :40000

    int_rate      installment      grade       home_ownership
 Min.   : 5.31   Min.   :  29.76   A:135177   ANY     :   488
 1st Qu.: 8.46   1st Qu.: 254.56   B:141365   MORTGAGE:239220
 Median :11.80   Median : 386.82   C:126850   OWN     : 60128
 Mean   :12.73   Mean   : 466.61   D: 69046   RENT    :195406
 3rd Qu.:16.01   3rd Qu.: 629.04   E: 18958
 Max.   :30.99   Max.   :1670.15   F:  3175
                                   G:   671
   annual_inc           verification_status   issue_d
 Min.   :      0   Not Verified   :199934   Length:495242
 1st Qu.:  46000   Source Verified:196347   Class :character
 Median :  66000   Verified       : 98961   Mode  :character
 Mean   :  80094
 3rd Qu.:  96000
 Max.   :9930475

             loan_status     pymnt_plan   zip_code              dti
 Charged Off       :  8867   n:495091   Length:495242      Min.   :  0.00
 Current           :427181   y:   151   Class :character   1st Qu.: 11.43
 Default           :     7              Mode  :character   Median : 17.71
 Fully Paid        : 47444                                 Mean   : 19.67
 In Grace Period   :  2919                                 3rd Qu.: 25.03
 Late (16-30 days) :  1603                                 Max.   :999.00
 Late (31-120 days):  7221                                 NA's   :1132
  delinq_2yrs      fico_range_low  fico_range_high inq_last_6mths
 Min.   : 0.0000   Min.   :660.0   Min.   :664.0   0:332652
 1st Qu.: 0.0000   1st Qu.:680.0   1st Qu.:684.0   1:117570
 Median : 0.0000   Median :700.0   Median :704.0   2: 34604
 Mean   : 0.2293   Mean   :706.4   Mean   :710.4   3:  9639
 3rd Qu.: 0.0000   3rd Qu.:725.0   3rd Qu.:729.0   4:   588
 Max.   :58.0000   Max.   :845.0   Max.   :850.0   5:   189

    open_acc         pub_rec          revol_bal         revol_util
 Min.   :  0.00   Min.   : 0.0000   Min.   :      0   Min.   :  0.00
 1st Qu.:  7.00   1st Qu.: 0.0000   1st Qu.:   5304   1st Qu.: 24.20
 Median : 10.00   Median : 0.0000   Median :  10832   Median : 42.10
 Mean   : 11.49   Mean   : 0.1345   Mean   :  16271   Mean   : 43.88
 3rd Qu.: 14.00   3rd Qu.: 0.0000   3rd Qu.:  19867   3rd Qu.: 62.30
 Max.   :101.00   Max.   :52.0000   Max.   :2358150   Max.   :191.00
                                                      NA's   :592
   total_acc      initial_list_status   out_prncp     out_prncp_inv
 Min.   :  2.00   f: 68059            Min.   :    0   Min.   :    0
 1st Qu.: 14.00   w:427183            1st Qu.: 4623   1st Qu.: 4622
 Median : 21.00                       Median : 9742   Median : 9739
 Mean   : 22.62                       Mean   :12007   Mean   :12005
 3rd Qu.: 29.00                       3rd Qu.:17801   3rd Qu.:17801
 Max.   :160.00                       Max.   :40000   Max.   :40000

  total_pymnt    total_pymnt_inv total_rec_prncp total_rec_int
 Min.   :    0   Min.   :    0   Min.   :    0   Min.   :    0.0
 1st Qu.: 1758   1st Qu.: 1758   1st Qu.: 1115   1st Qu.:  401.6
 Median : 3221   Median : 3221   Median : 2075   Median :  814.7
 Mean   : 4925   Mean   : 4924   Mean   : 3735   Mean   : 1179.6
 3rd Qu.: 5909   3rd Qu.: 5908   3rd Qu.: 4000   3rd Qu.: 1575.2
 Max.   :51653   Max.   :51653   Max.   :40000   Max.   :12795.0

 total_rec_late_fee   recoveries       collection_recovery_fee
 Min.   :  0.0000   Min.   :    0.00   Min.   :   0.000
 1st Qu.:  0.0000   1st Qu.:    0.00   1st Qu.:   0.000
 Median :  0.0000   Median :    0.00   Median :   0.000
 Mean   :  0.5128   Mean   :    9.94   Mean   :   1.748
 3rd Qu.:  0.0000   3rd Qu.:    0.00   3rd Qu.:   0.000
 Max.   :458.5700   Max.   :33122.07   Max.   :5961.973

 last_pymnt_amnt   last_fico_range_high last_fico_range_low
 Min.   :    0.0   Min.   :  0.0        Min.   :  0.0
 1st Qu.:  270.7   1st Qu.:679.0        1st Qu.:675.0
 Median :  436.9   Median :709.0        Median :705.0
 Mean   : 1599.8   Mean   :709.4        Mean   :703.7
 3rd Qu.:  747.9   3rd Qu.:744.0        3rd Qu.:740.0
 Max.   :41353.7   Max.   :850.0        Max.   :845.0

 collections_12_mths_ex_med   application_type  acc_now_delinq
 0      :487215             Individual:426257   0:495216
 1      :  7450             Joint App : 68985   1:    26
 2      :   495
 3      :    47
 4      :    18
 5      :     8
 (Other):     9
  tot_coll_amt      tot_cur_bal       open_acc_6m       open_act_il
 Min.   :      0   Min.   :      0   Min.   : 0.0000   Min.   : 0.000
 1st Qu.:      0   1st Qu.:  26885   1st Qu.: 0.0000   1st Qu.: 1.000
 Median :      0   Median :  74550   Median : 1.0000   Median : 2.000
 Mean   :    214   Mean   : 143960   Mean   : 0.8981   Mean   : 2.701
 3rd Qu.:      0   3rd Qu.: 218044   3rd Qu.: 1.0000   3rd Qu.: 3.000
 Max.   :6214661   Max.   :9971659   Max.   :15.0000   Max.   :56.000

  open_il_12m      open_il_24m     mths_since_rcnt_il  total_bal_il
 Min.   :0.0000   Min.   : 0.000   Min.   :  0.0      Min.   :      0
 1st Qu.:0.0000   1st Qu.: 0.000   1st Qu.:  7.0      1st Qu.:   7851
 Median :0.0000   Median : 1.000   Median : 13.0      Median :  22452
 Mean   :0.6729   Mean   : 1.527   Mean   : 21.1      Mean   :  35324
 3rd Qu.:1.0000   3rd Qu.: 2.000   3rd Qu.: 25.0      3rd Qu.:  45845
 Max.   :8.0000   Max.   :20.000   Max.   :507.0      Max.   :1837038
                                   NA's   :18410
    il_util       open_rv_12m      open_rv_24m       max_bal_bc
 Min.   :   0    Min.   : 0.000   Min.   : 0.000   Min.   :      0
 1st Qu.:  53    1st Qu.: 0.000   1st Qu.: 1.000   1st Qu.:   2183
 Median :  71    Median : 1.000   Median : 2.000   Median :   4441
 Mean   :  68    Mean   : 1.228   Mean   : 2.624   Mean   :   5863
 3rd Qu.:  85    3rd Qu.: 2.000   3rd Qu.: 4.000   3rd Qu.:   7772
 Max.   :1000    Max.   :26.000   Max.   :50.000   Max.   :1170668
 NA's   :80824
    all_util      total_rev_hi_lim      inq_fi        total_cu_tl
 Min.   :  0.00   Min.   :      0   Min.   : 0.000   Min.   : 0.000
 1st Qu.: 40.00   1st Qu.:  16200   1st Qu.: 0.000   1st Qu.: 0.000
 Median : 55.00   Median :  28700   Median : 1.000   Median : 0.000
 Mean   : 54.09   Mean   :  38345   Mean   : 1.087   Mean   : 1.485
 3rd Qu.: 69.00   3rd Qu.:  48700   3rd Qu.: 2.000   3rd Qu.: 2.000
 Max.   :239.00   Max.   :2087500   Max.   :38.000   Max.   :68.000
 NA's   :129
  inq_last_12m    acc_open_past_24mths  avg_cur_bal     bc_open_to_buy
 Min.   : 0.000   Min.   : 0.000       Min.   :     0   Min.   :     0
 1st Qu.: 0.000   1st Qu.: 2.000       1st Qu.:  2904   1st Qu.:  2867
 Median : 1.000   Median : 4.000       Median :  7033   Median :  8301
 Mean   : 1.937   Mean   : 4.427       Mean   : 13709   Mean   : 15057
 3rd Qu.: 3.000   3rd Qu.: 6.000       3rd Qu.: 19031   3rd Qu.: 19694
 Max.   :67.000   Max.   :54.000       Max.   :623229   Max.   :605996
                                       NA's   :40       NA's   :6588
    bc_util       chargeoff_within_12_mths  delinq_amnt
 Min.   :  0.00   0      :492165           Min.   :    0.00
 1st Qu.: 25.95   1      :  2863           1st Qu.:    0.00
 Median : 48.80   2      :   166           Median :    0.00
 Mean   : 49.87   3      :    27           Mean   :    1.79
 3rd Qu.: 74.40   4      :    13           3rd Qu.:    0.00
 Max.   :201.60   6      :     3           Max.   :65000.00
 NA's   :6803     (Other):     5
 mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op
 Min.   :  0        Min.   :  1.0        Min.   :  0.00
 1st Qu.: 85        1st Qu.:102.0        1st Qu.:  4.00
 Median :129        Median :156.0        Median :  9.00
 Mean   :123        Mean   :174.6        Mean   : 15.13
 3rd Qu.:155        3rd Qu.:226.0        3rd Qu.: 19.00
 Max.   :848        Max.   :826.0        Max.   :502.00
 NA's   :18410
 mo_sin_rcnt_tl       mort_acc      mths_since_recent_bc mths_since_recent_inq
 Min.   :  0.000   Min.   : 0.000   Min.   :  0.00       Min.   : 0.00
 1st Qu.:  3.000   1st Qu.: 0.000   1st Qu.:  6.00       1st Qu.: 2.00
 Median :  6.000   Median : 1.000   Median : 15.00       Median : 6.00
 Mean   :  8.719   Mean   : 1.336   Mean   : 25.55       Mean   : 7.49
 3rd Qu.: 11.000   3rd Qu.: 2.000   3rd Qu.: 30.00       3rd Qu.:11.00
 Max.   :382.000   Max.   :87.000   Max.   :661.00       Max.   :25.00
                                    NA's   :6198         NA's   :61305
 num_accts_ever_120_pd num_actv_bc_tl   num_actv_rev_tl   num_bc_sats
 Min.   : 0.0000       Min.   : 0.000   Min.   : 0.000   Min.   : 0.00
 1st Qu.: 0.0000       1st Qu.: 2.000   1st Qu.: 3.000   1st Qu.: 3.00
 Median : 0.0000       Median : 3.000   Median : 5.000   Median : 4.00
 Mean   : 0.4679       Mean   : 3.614   Mean   : 5.362   Mean   : 4.84
 3rd Qu.: 0.0000       3rd Qu.: 5.000   3rd Qu.: 7.000   3rd Qu.: 6.00
 Max.   :58.0000       Max.   :50.000   Max.   :72.000   Max.   :69.00

   num_bc_tl        num_il_tl       num_op_rev_tl    num_rev_accts
 Min.   : 0.000   Min.   :  0.000   Min.   : 0.000   Min.   :  2.00
 1st Qu.: 4.000   1st Qu.:  3.000   1st Qu.: 5.000   1st Qu.:  7.00
 Median : 6.000   Median :  6.000   Median : 7.000   Median : 11.00
 Mean   : 7.093   Mean   :  8.169   Mean   : 8.163   Mean   : 12.92
 3rd Qu.: 9.000   3rd Qu.: 11.000   3rd Qu.:10.000   3rd Qu.: 17.00
 Max.   :86.000   Max.   :130.000   Max.   :91.000   Max.   :151.00

 num_rev_tl_bal_gt_0    num_sats      num_tl_30dpd num_tl_90g_dpd_24m
 Min.   : 0.000      Min.   :  0.00   0:495219     Min.   : 0.00000
 1st Qu.: 3.000      1st Qu.:  7.00   1:    23     1st Qu.: 0.00000
 Median : 5.000      Median : 10.00                Median : 0.00000
 Mean   : 5.325      Mean   : 11.47                Mean   : 0.05993
 3rd Qu.: 7.000      3rd Qu.: 14.00                3rd Qu.: 0.00000
 Max.   :65.000      Max.   :101.00                Max.   :58.00000

 num_tl_op_past_12m pct_tl_nvr_dlq   percent_bc_gt_75 pub_rec_bankruptcies
 Min.   : 0.00      Min.   :  0.00   Min.   :  0.00   0      :434943
 1st Qu.: 1.00      1st Qu.: 92.30   1st Qu.:  0.00   1      : 59576
 Median : 2.00      Median :100.00   Median : 25.00   2      :   619
 Mean   : 2.03      Mean   : 94.58   Mean   : 32.89   3      :    81
 3rd Qu.: 3.00      3rd Qu.:100.00   3rd Qu.: 57.10   4      :    18
 Max.   :26.00      Max.   :100.00   Max.   :100.00   5      :     3
                    NA's   :2        NA's   :6596     (Other):     2
   tax_liens        tot_hi_cred_lim   total_bal_ex_mort total_bc_limit
 Min.   : 0.00000   Min.   :      0   Min.   :      0   Min.   :      0
 1st Qu.: 0.00000   1st Qu.:  52059   1st Qu.:  19530   1st Qu.:   9800
 Median : 0.00000   Median : 116292   Median :  37556   Median :  19200
 Mean   : 0.01092   Mean   : 184942   Mean   :  51922   Mean   :  26680
 3rd Qu.: 0.00000   3rd Qu.: 269292   3rd Qu.:  66119   3rd Qu.:  35200
 Max.   :52.00000   Max.   :9999999   Max.   :2622906   Max.   :1569000

 total_il_high_credit_limit hardship_flag disbursement_method
 Min.   :      0            N:495053      Cash     :423884
 1st Qu.:  14926            Y:   189      DirectPay: 71358
 Median :  33754
 Mean   :  45688
 3rd Qu.:  61914
 Max.   :2118996

 debt_settlement_flag   issue_date
 N:494762             Min.   :2018-01-01
 Y:   480             1st Qu.:2018-04-01
                      Median :2018-07-01
                      Mean   :2018-06-21
                      3rd Qu.:2018-10-01
                      Max.   :2018-12-01

In [17]:
rf <- train(loan_status ~ ., data = lending_2018, method = "rf")
rf